# FRONT CONTROLLER SETTINGS
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # redirect from 'domain' to 'domain/api'
    RewriteCond %{REQUEST_URI} ^/$
    RewriteRule ^(.*)$ /api/%1 [R=301]

    # Send Requests from URIs '/api/...' to Front Controller 'index.php'
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^api/(.*)$ /index.php [L]

</IfModule>
